In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython-sql) (2.0.21)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------  41.0/41.2 kB ? eta -:--:--
     ---------------------------------------  41.0/41.2 kB ? eta -:--:--
     ---------------------------------------  41.0/41.2 kB ? eta -:--:--
     ---------------------------------------  41.0/41.2 kB ? eta -:--:--
     --------------------------------------- 41.2/41.2 kB 63.9 kB/s eta 0:00:00
Requirement already satisfied: six in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: backcall in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: exceptiongroup in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (1.0.4)
Requirement already satisfied: colorama in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\dhimb\anaconda3\envs\codeah\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlparse-0.4.4

In [3]:
# STEP 1
import mysql.connector as sql
connection = sql.connect(
    host = "localhost",
    user = "root",
    password = "Abdallah@2018"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B1663BA2F0>

In [4]:
# STEP 2
cursor = connection.cursor()
cursor.execute("CREATE DATABASE foodly")
cursor.execute("SHOW DATABASES")

In [1]:
# STEP 3
import sqlalchemy

In [2]:
sqlalchemy.create_engine("mysql+mysqlconnector://root:Abdallah@2018@localhost/")

Engine(mysql+mysqlconnector://root:***@2018@localhost/)

In [4]:
%load_ext sql

In [8]:
%sql mysql+mysqlconnector://root:Abdallah2018@localhost/

In [9]:
%sql show databases

 * mysql+mysqlconnector://root:***@localhost/
9 rows affected.

[('ahmed_test',),
 ('foodly',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('titanicdb',),
 ('world',)]

In [12]:
%sql use foodly;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS aliment;
CREATE TABLE aliment (
  id int NOT NULL AUTO_INCREMENT,
  nom varchar(100) NOT NULL,
  marque varchar(100) DEFAULT NULL,
  sucre float DEFAULT NULL,
  calories int NOT NULL,
  graisses float DEFAULT NULL,
  proteines float DEFAULT NULL,
  bio tinyint(1) DEFAULT '0',
  PRIMARY KEY (id)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [15]:
%%sql
LOCK TABLES aliment WRITE;
#!40000 ALTER TABLE `aliment` DISABLE KEYS */;
INSERT INTO aliment VALUES (1,'pomme','sans marque',19.1,72,0.2,0.4,0),(2,'poire','sans marque',27.5,134,0.2,1.1,1),(3,'banane','chiquita',24,101,0.3,1.1,0),(4,'jambon','herta',0.2,34,0.8,6.6,0),(5,'compote','andros',11,51,0,0.5,0),(6,'steak haché','charal',0.8,68,4.8,4.8,0),(7,'saumon','guyader',0,206,12.3,22.1,0),(8,'haricots verts','bonduelle',5.8,25,0.1,1.5,0),(9,'riz','oncle benz',28.2,130,0.3,2.7,0),(10,'pâtes completes','barilla',64,353,2.7,14,1),(11,'blanc de dinde','père dodu',0.6,98,0.9,22,0),(12,'filet de poulet','le gaulois',0,121,1.8,26.2,0),(13,'muesli','bjorg',26.5,170,5,3.5,1),(14,'café','carte noire',0,0,0,0,0),(15,'jus d\'orange','innocent',16,74,0,1.6,0),(16,'jus de pomme','andros',24,100,0.2,0.2,1),(17,'pomme de terre','doréac',21.1,104,0.2,2.8,0),(18,'oeuf','naturalia',0.4,74,5.1,6.5,1),(19,'baguette','sans marque',36.1,185,1.2,7.5,0),(20,'lait d\'amande','bjorg',6.1,80,5.3,1.5,1);
#!40000 ALTER TABLE `aliment` ENABLE KEYS */;
UNLOCK TABLES;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.
20 rows affected.
0 rows affected.
0 rows affected.

[]

In [18]:
%%sql
DROP TABLE IF EXISTS utilisateur;
#!40101 SET @saved_cs_client     = @@character_set_client */;
#!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE utilisateur (
  id int NOT NULL AUTO_INCREMENT,
  nom varchar(100) DEFAULT NULL,
  prenom varchar(100) DEFAULT NULL,
  email varchar(255) NOT NULL,
  PRIMARY KEY (id),
  UNIQUE KEY email (email)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [19]:
%%sql
LOCK TABLES utilisateur WRITE;
#!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
INSERT INTO utilisateur VALUES (1,'durantay','quentin','qentin@gmail.com'),(2,'dupont','marie','marie@hotmail.fr'),(3,'miller','vincent','vm@yahoo.com'),(4,'zuckerberg','marc','marc@gmail.com'),(5,'paul','pierre','pp@orange.fr'),(6,'de vauclerc','lisa','lisadv@gmail.com'),(7,'gluntig','éléonore','glunt@sfr.com'),(8,'cavill','henry','henry@outlook.fr'),(9,'hopper','lionel','hpp@gmail.com'),(10,'tember','fabienne','fabienne@yopmail.com');
#!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.
10 rows affected.
0 rows affected.
0 rows affected.

[]

In [20]:
%sql show tables;

 * mysql+mysqlconnector://root:***@localhost/
2 rows affected.

[('aliment',), ('utilisateur',)]

In [21]:
%sql select nom,email from utilisateur;

 * mysql+mysqlconnector://root:***@localhost/
10 rows affected.

[('durantay', 'qentin@gmail.com'),
 ('dupont', 'marie@hotmail.fr'),
 ('miller', 'vm@yahoo.com'),
 ('zuckerberg', 'marc@gmail.com'),
 ('paul', 'pp@orange.fr'),
 ('de vauclerc', 'lisadv@gmail.com'),
 ('gluntig', 'glunt@sfr.com'),
 ('cavill', 'henry@outlook.fr'),
 ('hopper', 'hpp@gmail.com'),
 ('tember', 'fabienne@yopmail.com')]

In [22]:
%sql UPDATE utilisateur set email = 'quentind@gmail.com' WHERE id = '1';

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[]

In [25]:
%sql DELETE from utilisateur where id = '2';

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [27]:
%sql INSERT into utilisateur VALUES (2,'dupont','marie','marie@hotmail.fr');

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[]

In [28]:
%sql CREATE database moviz;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[]

In [30]:
%sql drop database moviz;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [32]:
%sql SELECT * FROM utilisateur WHERE email LIKE '%gmail.com';

 * mysql+mysqlconnector://root:***@localhost/
4 rows affected.

[(1, 'durantay', 'quentin', 'quentind@gmail.com'),
 (4, 'zuckerberg', 'marc', 'marc@gmail.com'),
 (6, 'de vauclerc', 'lisa', 'lisadv@gmail.com'),
 (9, 'hopper', 'lionel', 'hpp@gmail.com')]

In [48]:
%sql SELECT * FROM aliment ORDER BY calories ASC;

 * mysql+mysqlconnector://root:***@localhost/
20 rows affected.

[(14, 'café', 'carte noire', 0.0, 0, 0.0, 0.0, 0),
 (8, 'haricots verts', 'bonduelle', 5.8, 25, 0.1, 1.5, 0),
 (4, 'jambon', 'herta', 0.2, 34, 0.8, 6.6, 0),
 (5, 'compote', 'andros', 11.0, 51, 0.0, 0.5, 0),
 (6, 'steak haché', 'charal', 0.8, 68, 4.8, 4.8, 0),
 (1, 'pomme', 'sans marque', 19.1, 72, 0.2, 0.4, 0),
 (15, "jus d'orange", 'innocent', 16.0, 74, 0.0, 1.6, 0),
 (18, 'oeuf', 'naturalia', 0.4, 74, 5.1, 6.5, 1),
 (20, "lait d'amande", 'bjorg', 6.1, 80, 5.3, 1.5, 1),
 (11, 'blanc de dinde', 'père dodu', 0.6, 98, 0.9, 22.0, 0),
 (16, 'jus de pomme', 'andros', 24.0, 100, 0.2, 0.2, 1),
 (3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0),
 (17, 'pomme de terre', 'doréac', 21.1, 104, 0.2, 2.8, 0),
 (12, 'filet de poulet', 'le gaulois', 0.0, 121, 1.8, 26.2, 0),
 (9, 'riz', 'oncle benz', 28.2, 130, 0.3, 2.7, 0),
 (2, 'poire', 'sans marque', 27.5, 134, 0.2, 1.1, 1),
 (13, 'muesli', 'bjorg', 26.5, 170, 5.0, 3.5, 1),
 (19, 'baguette', 'sans marque', 36.1, 185, 1.2, 7.5, 0),
 (7, 'saumon', 'guyader', 0.0, 206, 12.3, 22.1, 0),
 (10, 'pâtes completes', 'barilla', 64.0, 353, 2.7, 14.0, 1)]

In [53]:
%sql SELECT avg(calories) FROM aliment GROUP BY bio;

 * mysql+mysqlconnector://root:***@localhost/
2 rows affected.

[(Decimal('90.6429'),), (Decimal('151.8333'),)]

In [54]:
%%sql SELECT COUNT(*) 
FROM utilisateur 
WHERE email LIKE "%gmail.com";

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(4,)]

In [59]:
%%sql SELECT COUNT(DISTINCT nom) 
FROM aliment 
WHERE nom LIKE '%pomme%';

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(3,)]

In [60]:
%%sql SELECT COUNT(DISTINCT nom)  AS 'produits différents contenant le mot pomme'
FROM aliment 
WHERE nom LIKE "%pomme%";

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(3,)]

In [61]:
%%sql SELECT MAX(sucre)  AS 'taux de sucre maximum'
FROM aliment;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(64.0,)]

In [62]:
%%sql SELECT AVG(calories) AS 'calories moyennes des aliments > 30g'
FROM aliment 
WHERE calories > 30;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(Decimal('119.7222'),)]

In [64]:
%%sql SELECT ROUND(AVG(calories)) AS 'calories moyennes des aliments > 30g'
FROM aliment 
WHERE calories > 30;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(Decimal('120'),)]

In [65]:
%%sql SELECT sum(graisses) AS 'La somme des graisses'
FROM aliment;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(41.40000054985285,)]

In [66]:
%%sql SELECT min(graisses) AS 'La somme des graisses'
FROM aliment;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(0.0,)]

In [67]:
%%sql
DROP TABLE IF EXISTS langue;

CREATE TABLE langue (
  id int NOT NULL AUTO_INCREMENT,
  nom varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [68]:
%%sql
LOCK TABLES langue WRITE;

INSERT INTO `langue` VALUES (1,'français'),(2,'anglais');

UNLOCK TABLES;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
2 rows affected.
0 rows affected.

[]

In [69]:
%%sql
DROP TABLE IF EXISTS utilisateur;

CREATE TABLE utilisateur (
  id int NOT NULL AUTO_INCREMENT,
  nom varchar(100) DEFAULT NULL,
  prenom varchar(100) DEFAULT NULL,
  email varchar(255) NOT NULL,
  langue_id int NOT NULL,
  PRIMARY KEY (id),
  UNIQUE KEY email (email),
  KEY langue_id (langue_id),
  CONSTRAINT utilisateur_ibfk_1 FOREIGN KEY (langue_id) REFERENCES langue (id) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [70]:
%%sql
LOCK TABLES `utilisateur` WRITE;

INSERT INTO `utilisateur` VALUES (1,'durantay','quentin','qentin@gmail.com',1),(2,'dupont','marie','marie@hotmail.fr',1),(3,'miller','vincent','vm@yahoo.com',2),(4,'zuckerberg','marc','marc@gmail.com',2),(5,'paul','pierre','pp@orange.fr',1),(6,'de vauclerc','lisa','lisadv@gmail.com',1),(7,'gluntig','éléonore','glunt@sfr.com',1),(8,'cavill','henry','henry@outlook.fr',2),(9,'hopper','lionel','hpp@gmail.com',2),(10,'tember','fabienne','fabienne@yopmail.com',1);

UNLOCK TABLES;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
10 rows affected.
0 rows affected.

[]

In [71]:
%%sql
SELECT * 
FROM utilisateur
JOIN langue
ON utilisateur.langue_id = langue.id;

 * mysql+mysqlconnector://root:***@localhost/
10 rows affected.

[(1, 'durantay', 'quentin', 'qentin@gmail.com', 1, 1, 'français'),
 (2, 'dupont', 'marie', 'marie@hotmail.fr', 1, 1, 'français'),
 (5, 'paul', 'pierre', 'pp@orange.fr', 1, 1, 'français'),
 (6, 'de vauclerc', 'lisa', 'lisadv@gmail.com', 1, 1, 'français'),
 (7, 'gluntig', 'éléonore', 'glunt@sfr.com', 1, 1, 'français'),
 (10, 'tember', 'fabienne', 'fabienne@yopmail.com', 1, 1, 'français'),
 (3, 'miller', 'vincent', 'vm@yahoo.com', 2, 2, 'anglais'),
 (4, 'zuckerberg', 'marc', 'marc@gmail.com', 2, 2, 'anglais'),
 (8, 'cavill', 'henry', 'henry@outlook.fr', 2, 2, 'anglais'),
 (9, 'hopper', 'lionel', 'hpp@gmail.com', 2, 2, 'anglais')]

In [74]:
%%sql
SELECT * FROM utilisateur
JOIN langue
ON utilisateur.langue_id = langue.id
WHERE (utilisateur.email LIKE '%gmail%') AND (langue.id=1) ;

 * mysql+mysqlconnector://root:***@localhost/
2 rows affected.

[(1, 'durantay', 'quentin', 'qentin@gmail.com', 1, 1, 'français'),
 (6, 'de vauclerc', 'lisa', 'lisadv@gmail.com', 1, 1, 'français')]

In [75]:
%%sql
SELECT utilisateur.id, UPPER(utilisateur.nom) AS "NOM", utilisateur.prenom, utilisateur.email,langue.nom AS "LANGUE" FROM utilisateur
JOIN langue
ON utilisateur.langue_id = langue.id
WHERE (utilisateur.email LIKE "%gmail%") AND (langue.id=1) 
ORDER BY utilisateur.id DESC;

 * mysql+mysqlconnector://root:***@localhost/
2 rows affected.

[(6, 'DE VAUCLERC', 'lisa', 'lisadv@gmail.com', 'français'),
 (1, 'DURANTAY', 'quentin', 'qentin@gmail.com', 'français')]

In [76]:
%%sql
DROP TABLE IF EXISTS utilisateur_aliment;

CREATE TABLE utilisateur_aliment (
  utilisateur_id int NOT NULL,
  aliment_id int NOT NULL,
  KEY utilisateur_id (utilisateur_id),
  KEY aliment_id (aliment_id),
  CONSTRAINT utilisateur_aliment_ibfk_1 FOREIGN KEY (utilisateur_id) REFERENCES utilisateur (id) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT utilisateur_aliment_ibfk_2 FOREIGN KEY (aliment_id) REFERENCES aliment (id) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [77]:
%%sql
LOCK TABLES utilisateur_aliment WRITE;

INSERT INTO utilisateur_aliment VALUES (1,7),(1,3),(1,5),(2,2),(2,19),(2,14),(3,4),(3,15),(3,12),(1,17),(4,5),(4,4),(4,7),(5,1),(5,18),(5,3),(6,2),(6,12),(6,6),(7,16),(7,19),(7,1),(8,3),(8,5),(9,18),(9,9),(9,14),(10,16),(10,3);

UNLOCK TABLES;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
29 rows affected.
0 rows affected.

[]

In [78]:
%%sql
SELECT *
FROM utilisateur
JOIN utilisateur_aliment ON (utilisateur.id = utilisateur_aliment.utilisateur_id)
JOIN aliment ON (aliment.id = utilisateur_aliment.aliment_id);

 * mysql+mysqlconnector://root:***@localhost/
29 rows affected.

[(1, 'durantay', 'quentin', 'qentin@gmail.com', 1, 1, 7, 7, 'saumon', 'guyader', 0.0, 206, 12.3, 22.1, 0),
 (1, 'durantay', 'quentin', 'qentin@gmail.com', 1, 1, 3, 3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0),
 (1, 'durantay', 'quentin', 'qentin@gmail.com', 1, 1, 5, 5, 'compote', 'andros', 11.0, 51, 0.0, 0.5, 0),
 (1, 'durantay', 'quentin', 'qentin@gmail.com', 1, 1, 17, 17, 'pomme de terre', 'doréac', 21.1, 104, 0.2, 2.8, 0),
 (2, 'dupont', 'marie', 'marie@hotmail.fr', 1, 2, 2, 2, 'poire', 'sans marque', 27.5, 134, 0.2, 1.1, 1),
 (2, 'dupont', 'marie', 'marie@hotmail.fr', 1, 2, 19, 19, 'baguette', 'sans marque', 36.1, 185, 1.2, 7.5, 0),
 (2, 'dupont', 'marie', 'marie@hotmail.fr', 1, 2, 14, 14, 'café', 'carte noire', 0.0, 0, 0.0, 0.0, 0),
 (3, 'miller', 'vincent', 'vm@yahoo.com', 2, 3, 4, 4, 'jambon', 'herta', 0.2, 34, 0.8, 6.6, 0),
 (3, 'miller', 'vincent', 'vm@yahoo.com', 2, 3, 15, 15, "jus d'orange", 'innocent', 16.0, 74, 0.0, 1.6, 0),
 (3, 'miller', 'vincent', 'vm@yahoo.com', 2, 3, 12, 12, 'filet de poulet', 'le gaulois', 0.0, 121, 1.8, 26.2, 0),
 (4, 'zuckerberg', 'marc', 'marc@gmail.com', 2, 4, 5, 5, 'compote', 'andros', 11.0, 51, 0.0, 0.5, 0),
 (4, 'zuckerberg', 'marc', 'marc@gmail.com', 2, 4, 4, 4, 'jambon', 'herta', 0.2, 34, 0.8, 6.6, 0),
 (4, 'zuckerberg', 'marc', 'marc@gmail.com', 2, 4, 7, 7, 'saumon', 'guyader', 0.0, 206, 12.3, 22.1, 0),
 (5, 'paul', 'pierre', 'pp@orange.fr', 1, 5, 1, 1, 'pomme', 'sans marque', 19.1, 72, 0.2, 0.4, 0),
 (5, 'paul', 'pierre', 'pp@orange.fr', 1, 5, 18, 18, 'oeuf', 'naturalia', 0.4, 74, 5.1, 6.5, 1),
 (5, 'paul', 'pierre', 'pp@orange.fr', 1, 5, 3, 3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0),
 (6, 'de vauclerc', 'lisa', 'lisadv@gmail.com', 1, 6, 2, 2, 'poire', 'sans marque', 27.5, 134, 0.2, 1.1, 1),
 (6, 'de vauclerc', 'lisa', 'lisadv@gmail.com', 1, 6, 12, 12, 'filet de poulet', 'le gaulois', 0.0, 121, 1.8, 26.2, 0),
 (6, 'de vauclerc', 'lisa', 'lisadv@gmail.com', 1, 6, 6, 6, 'steak haché', 'charal', 0.8, 68, 4.8, 4.8, 0),
 (7, 'gluntig', 'éléonore', 'glunt@sfr.com', 1, 7, 16, 16, 'jus de pomme', 'andros', 24.0, 100, 0.2, 0.2, 1),
 (7, 'gluntig', 'éléonore', 'glunt@sfr.com', 1, 7, 19, 19, 'baguette', 'sans marque', 36.1, 185, 1.2, 7.5, 0),
 (7, 'gluntig', 'éléonore', 'glunt@sfr.com', 1, 7, 1, 1, 'pomme', 'sans marque', 19.1, 72, 0.2, 0.4, 0),
 (8, 'cavill', 'henry', 'henry@outlook.fr', 2, 8, 3, 3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0),
 (8, 'cavill', 'henry', 'henry@outlook.fr', 2, 8, 5, 5, 'compote', 'andros', 11.0, 51, 0.0, 0.5, 0),
 (9, 'hopper', 'lionel', 'hpp@gmail.com', 2, 9, 18, 18, 'oeuf', 'naturalia', 0.4, 74, 5.1, 6.5, 1),
 (9, 'hopper', 'lionel', 'hpp@gmail.com', 2, 9, 9, 9, 'riz', 'oncle benz', 28.2, 130, 0.3, 2.7, 0),
 (9, 'hopper', 'lionel', 'hpp@gmail.com', 2, 9, 14, 14, 'café', 'carte noire', 0.0, 0, 0.0, 0.0, 0),
 (10, 'tember', 'fabienne', 'fabienne@yopmail.com', 1, 10, 16, 16, 'jus de pomme', 'andros', 24.0, 100, 0.2, 0.2, 1),
 (10, 'tember', 'fabienne', 'fabienne@yopmail.com', 1, 10, 3, 3, 'banane', 'chiquita', 24.0, 101, 0.3, 1.1, 0)]