In [2]:
for i in [0,1,2,3,4]:
    print("The value of i is: ",i)

The value of i is:  0
The value of i is:  1
The value of i is:  2
The value of i is:  3
The value of i is:  4

In [3]:
for i in range(5):
    print('The value of i is: ',i)

The value of i is:  0
The value of i is:  1
The value of i is:  2
The value of i is:  3
The value of i is:  4

In [8]:
c=['Mark','est','dans','le','jardin']
print(len(c))
for i in range(len(c)):
    print('i vaut',i,'et c[',i,'] vaut',c[i])

5
i vaut 0 et c[ 0 ] vaut Mark
i vaut 1 et c[ 1 ] vaut est
i vaut 2 et c[ 2 ] vaut dans
i vaut 3 et c[ 3 ] vaut le
i vaut 4 et c[ 4 ] vaut jardin

In [9]:
# Now check the while loop

In [11]:
x=1
while x < 10:
    print('The value of x is: ',x)
    x = x * 2
print('end of loop')

The value of x is:  1
The value of x is:  2
The value of x is:  4
The value of x is:  8
end of loop

In [10]:
for n in range(2,8):
    #print('n= ',n)
    for x in range(2,n):
        #print('x= ',x,'n= ',n)
        if n % x == 0:
            print(n, "egale", x, "*", n/x)
            break
    else:
        print(n, "est un nombre premier")

2 est un nombre premier
3 est un nombre premier
4 egale 2 * 2.0
5 est un nombre premier
6 egale 2 * 3.0
7 est un nombre premier

In [14]:
for x in range (3):
    for y in range (1,10):
        print(y,end=',')
    print()

1,2,3,4,5,6,7,8,9,
1,2,3,4,5,6,7,8,9,
1,2,3,4,5,6,7,8,9,

In [15]:
rows = int(input('Enter the number of rows: '))
columns = int(input('Enter the number of columns: '))
symbol = input('Enter a symbol to use: ')
for x in range (rows):
    for y in range (columns):
        print(symbol,end=' ')
    print()

Enter the number of rows: 5
Enter the number of columns: 10
Enter a symbol to use: @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @

In [45]:
while True:
    n = int(input("donnez un entier > 0 : "))
    print("vous avez fourni", n)
    if n > 0:
        break
print("reponse correcte")

donnez un entier > 0 : -1
vous avez fourni -1
donnez un entier > 0 : 0
vous avez fourni 0
donnez un entier > 0 : 7
vous avez fourni 7
reponse correcte

In [18]:
v = "Hello you"
for letter in v:
    print(letter)

H
e
l
l
o

y
o
u

In [23]:
for u in range (5,-6,-1):
    print(u)

5
4
3
2
1
0
-1
-2
-3
-4
-5

In [35]:
# STEP 1
def main():
    print("« Bienvenue dans le jeu de la dichotomie ! »")
    
    return 0

In [36]:
main()

« Bienvenue dans le jeu de la dichotomie ! »

0

In [41]:
# STEP 2
def main():
    print("« Bienvenue dans le jeu de la dichotomie ! »") 
    userName = input("Quele est votre nom: ")

In [42]:
main()

« Bienvenue dans le jeu de la dichotomie ! »
Quele est votre nom: Ahmed

In [49]:
# STEP 3
def main():
    print("« Bienvenue dans le jeu de la dichotomie ! »") 
    userName = input("Quele est votre nom: ")
    minValue = 0
    maxValue = 100
    print(userName," pense à un nombre entre ",minValue," et", maxValue)

In [50]:
main()

« Bienvenue dans le jeu de la dichotomie ! »
Quele est votre nom: Ahmed
Ahmed  pense à un nombre entre  0  et 100

In [113]:
# STEP 4
def main():
    print("« Bienvenue dans le jeu de la dichotomie ! »") 
    userName = input("Quele est votre nom: ")
    minValue = 0
    maxValue = 100
    i = 0
    reponse = "+"
    print(userName," pense à un nombre entre ",minValue," et", maxValue)
    while reponse != "=":
        millieu = int((maxValue + minValue)/2)
        
        reponse = input ('Est-ce votre nombre est plus grand, plus petit ou égal à ' +millieu+ ' ? [+/-/=]')
        i=i+1
        if reponse == "+":
            minValue = millieu
            
        elif reponse == "-":
            maxValue = millieu
           
    print ("J'ai trouvé en ",i," questions !")
    return 0

In [114]:
main()

« Bienvenue dans le jeu de la dichotomie ! »
Quele est votre nom: Ahmed
Ahmed  pense à un nombre entre  0  et 100

TypeError: can only concatenate str (not "int") to str