In [120]:
# Step 1

client1 = {
    "Nom": "MOHAMED",
    "Prenom": "Ahmed",
    "sexe": "M",
    "Solde": 2500
}
client1

{'Nom': 'MOHAMED', 'Prenom': 'Ahmed', 'sexe': 'M', 'Solde': 2500}

In [58]:
# Step 2
# Printing client1 data
for key in client1:
    print(key,client1[key])

Nom MOHAMED
Prenom Ahmed
Sexe M
Solde 2500

In [136]:
# Step 3 
# Create a list of 12 other dictionaries (clients) that have the same keys
client2 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client3 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client4 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client5 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client6 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client7 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client8 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client9 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client10 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client11 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client12 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client13 = {
    "Nom": "",
    "Prenom": "",
    "Sexe": "",
    "Solde": ""
}
client2={}
client3={}
client4={}
client5={}
client6={}
client7={}
client8={}
client9={}
client10={}
client11={}
client12={}
client13={}

# Put all 12 dictionaries in one list

list_client = [client1,client2,client3,client4,client5,client6,client7,client8,client9,client10,client11,client12,client13]
list_client[0]

{'Nom': 'MOHAMED', 'Prenom': 'Ahmed', 'sexe': 'M', 'Solde': 2500}

In [13]:
client1.values()

dict_values(['MOHAMED', 'Ahmed', 'M', 2500])

In [137]:
client1[key]

2500

In [42]:
client1["Nom"]="MOHAMED"
client1

{'Nom': 'MOHAMED',
 'Prenom': 'Bartosz',
 'Sexe': 'M',
 'Solde': '2000',
 'sexe': 'M'}

In [89]:
# Step 4
def clients():
    for i in range (1,13):
        #for j in range (1,4):
        
        list_client[i]["Nom"] = input("Enter the Surname of client" +str(i)+ ": ")
        list_client[i]["Prenom"] = input("Enter the name of client" +str(i)+ ": ")
        list_client[i]["sexe"] = input("Enter the Sex of client" +str(i)+ ": ")
        list_client[i]["Solde"] = input("Enter the Account Balance of client" +str(i)+ ": ")
        
    return list_client

In [140]:
clients()

Enter the Surname of client1: AGU
Enter the name of client1: Patrick
Enter the Sex of client1: M
Enter the Account Balance of client1: 3000
Enter the Surname of client2: JANAS
Enter the name of client2: Bartosz
Enter the Sex of client2: M
Enter the Account Balance of client2: 2000
Enter the Surname of client3: BAYARCHULUUN
Enter the name of client3: Munkherdene
Enter the Sex of client3: M
Enter the Account Balance of client3: 1500
Enter the Surname of client4: BONNIN
Enter the name of client4: Phillippe
Enter the Sex of client4: M
Enter the Account Balance of client4: 4500
Enter the Surname of client5: CARREY
Enter the name of client5: Raphael
Enter the Sex of client5: M
Enter the Account Balance of client5: 5000
Enter the Surname of client6: CHELEDNIK
Enter the name of client6: Alexandre
Enter the Sex of client6: M
Enter the Account Balance of client6: 3500
Enter the Surname of client7: CHIKRI
Enter the name of client7: Hassan
Enter the Sex of client7: M
Enter the Account Balance of client7: 2500
Enter the Surname of client8: DESSOLIN
Enter the name of client8: Thibaut
Enter the Sex of client8: M
Enter the Account Balance of client8: 4000
Enter the Surname of client9: LAKHDAR EZZINE
Enter the name of client9: Hadjer
Enter the Sex of client9: F
Enter the Account Balance of client9: 1000
Enter the Surname of client10: MEUNIER
Enter the name of client10: Alexis
Enter the Sex of client10: M
Enter the Account Balance of client10: 3000
Enter the Surname of client11: SADOUN
Enter the name of client11: Salah
Enter the Sex of client11: M
Enter the Account Balance of client11: 6000
Enter the Surname of client12: THEUREAU
Enter the name of client12: Paul
Enter the Sex of client12: M
Enter the Account Balance of client12: 4500

[{'Nom': 'MOHAMED', 'Prenom': 'Ahmed', 'sexe': 'M', 'Solde': 2500},
 {'Nom': 'AGU', 'Prenom': 'Patrick', 'sexe': 'M', 'Solde': '3000'},
 {'Nom': 'JANAS', 'Prenom': 'Bartosz', 'sexe': 'M', 'Solde': '2000'},
 {'Nom': 'BAYARCHULUUN',
  'Prenom': 'Munkherdene',
  'sexe': 'M',
  'Solde': '1500'},
 {'Nom': 'BONNIN', 'Prenom': 'Phillippe', 'sexe': 'M', 'Solde': '4500'},
 {'Nom': 'CARREY', 'Prenom': 'Raphael', 'sexe': 'M', 'Solde': '5000'},
 {'Nom': 'CHELEDNIK', 'Prenom': 'Alexandre', 'sexe': 'M', 'Solde': '3500'},
 {'Nom': 'CHIKRI', 'Prenom': 'Hassan', 'sexe': 'M', 'Solde': '2500'},
 {'Nom': 'DESSOLIN', 'Prenom': 'Thibaut', 'sexe': 'M', 'Solde': '4000'},
 {'Nom': 'LAKHDAR EZZINE', 'Prenom': 'Hadjer', 'sexe': 'F', 'Solde': '1000'},
 {'Nom': 'MEUNIER', 'Prenom': 'Alexis', 'sexe': 'M', 'Solde': '3000'},
 {'Nom': 'SADOUN', 'Prenom': 'Salah', 'sexe': 'M', 'Solde': '6000'},
 {'Nom': 'THEUREAU', 'Prenom': 'Paul', 'sexe': 'M', 'Solde': '4500'}]

In [141]:
list_client

[{'Nom': 'MOHAMED', 'Prenom': 'Ahmed', 'sexe': 'M', 'Solde': 2500},
 {'Nom': 'AGU', 'Prenom': 'Patrick', 'sexe': 'M', 'Solde': '3000'},
 {'Nom': 'JANAS', 'Prenom': 'Bartosz', 'sexe': 'M', 'Solde': '2000'},
 {'Nom': 'BAYARCHULUUN',
  'Prenom': 'Munkherdene',
  'sexe': 'M',
  'Solde': '1500'},
 {'Nom': 'BONNIN', 'Prenom': 'Phillippe', 'sexe': 'M', 'Solde': '4500'},
 {'Nom': 'CARREY', 'Prenom': 'Raphael', 'sexe': 'M', 'Solde': '5000'},
 {'Nom': 'CHELEDNIK', 'Prenom': 'Alexandre', 'sexe': 'M', 'Solde': '3500'},
 {'Nom': 'CHIKRI', 'Prenom': 'Hassan', 'sexe': 'M', 'Solde': '2500'},
 {'Nom': 'DESSOLIN', 'Prenom': 'Thibaut', 'sexe': 'M', 'Solde': '4000'},
 {'Nom': 'LAKHDAR EZZINE', 'Prenom': 'Hadjer', 'sexe': 'F', 'Solde': '1000'},
 {'Nom': 'MEUNIER', 'Prenom': 'Alexis', 'sexe': 'M', 'Solde': '3000'},
 {'Nom': 'SADOUN', 'Prenom': 'Salah', 'sexe': 'M', 'Solde': '6000'},
 {'Nom': 'THEUREAU', 'Prenom': 'Paul', 'sexe': 'M', 'Solde': '4500'}]

In [142]:
# Step 5
list_client[3]["Solde"] = int(list_client[3]["Solde"]) - 500

In [143]:
list_client[3]["Solde"]

1000

In [144]:
# Step 6
total_solde = 0
for k in range(0,13):
    total_solde = total_solde + int(list_client[k]["Solde"])
print(total_solde)

42500

In [147]:
# Step 7
female = 0
male = 0
for j in range (0,13):
    if list_client[j]["sexe"] == "M":
        male = male + 1
    else: 
        female = female + 1
print("There are ",female," female clients")
print("There are ",male," male clients")

There are  1  female clients
There are  12  male clients

In [148]:
# Step 8
client14={
    "Nom" : "KURDY",
    "Prenom" : "Bassam",
    "sexe" : "M",
    "Solde" : 2000
}
list_client.append(client14)

In [149]:
list_client

[{'Nom': 'MOHAMED', 'Prenom': 'Ahmed', 'sexe': 'M', 'Solde': 2500},
 {'Nom': 'AGU', 'Prenom': 'Patrick', 'sexe': 'M', 'Solde': '3000'},
 {'Nom': 'JANAS', 'Prenom': 'Bartosz', 'sexe': 'M', 'Solde': '2000'},
 {'Nom': 'BAYARCHULUUN', 'Prenom': 'Munkherdene', 'sexe': 'M', 'Solde': 1000},
 {'Nom': 'BONNIN', 'Prenom': 'Phillippe', 'sexe': 'M', 'Solde': '4500'},
 {'Nom': 'CARREY', 'Prenom': 'Raphael', 'sexe': 'M', 'Solde': '5000'},
 {'Nom': 'CHELEDNIK', 'Prenom': 'Alexandre', 'sexe': 'M', 'Solde': '3500'},
 {'Nom': 'CHIKRI', 'Prenom': 'Hassan', 'sexe': 'M', 'Solde': '2500'},
 {'Nom': 'DESSOLIN', 'Prenom': 'Thibaut', 'sexe': 'M', 'Solde': '4000'},
 {'Nom': 'LAKHDAR EZZINE', 'Prenom': 'Hadjer', 'sexe': 'F', 'Solde': '1000'},
 {'Nom': 'MEUNIER', 'Prenom': 'Alexis', 'sexe': 'M', 'Solde': '3000'},
 {'Nom': 'SADOUN', 'Prenom': 'Salah', 'sexe': 'M', 'Solde': '6000'},
 {'Nom': 'THEUREAU', 'Prenom': 'Paul', 'sexe': 'M', 'Solde': '4500'},
 {'Nom': 'KURDY', 'Prenom': 'Bassam', 'sexe': 'M', 'Solde': 2000}]

In [129]:
# This function calculates the factorial of a positive integer
def factorial(n):
    if n<0:
        return "Please Enter a positive integer"
    elif n==0:
        return 1
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    return fact

In [130]:
factorial(0)

1

In [131]:
factorial(6)

720

In [132]:
factorial(-1)

'Please Enter a positive integer'

In [133]:
def factoriel(n):
    if n==0:
        return 1
    else:
        return(n * factoriel(n-1))

In [135]:
factoriel(1)

1

In [150]:
list_client[1].values()

dict_values(['AGU', 'Patrick', 'M', '3000'])

In [154]:
client5.values()

dict_values(['BONNIN', 'Phillippe', 'M', '4500'])